html {
  font-family: "Comfortaa", cursive;
  font-family: "Exo 2", sans-serif;
  font-family: "Shadows Into Light", cursive;
  font-size: 1rem;
}
main {
  width: 100%;
  height: 100%;
  background-image: url("./assets/blueberry.jpg");
  background-size: cover;
 
}
h1 {
  text-align: center;
}
.backgound_home_page{
background-image: url("./assets/blueberry.jpg");
background-size: cover;

}
.categories_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;
  border: 5px solid white;
  background-color: rgb(255, 255, 255);
  font-family: "Comfortaa", cursive;
  font-family: "Exo 2", sans-serif;
  font-family: "Shadows Into Light", cursive;
}
.category_home {
  border: 1px solid white;
  background-color: rgb(142, 99, 212);
  border-radius: 10px;
  padding: 10px;
}
.img_category {
  border-radius: 10px;
}
form {
  margin-left: 37vw;
  margin-top: 15vh;
}
input,
.search_btn {
  border-right: none;
  border-radius: 20px;
  background-color: rgb(202, 202, 241);
  height: 5vh;
}
.form-button {
  border-radius: 20px;
  height: 5vh;
  background-color: rgb(91, 61, 189);
  color: wheat;
}

.cat_btn {
  background-color: rgb(57, 19, 117);
  border: 1px solid rgb(214, 213, 213);
  border-radius: 10px;
  width: 15vw;
  height: 5vh;
  color: wheat;
}
.cat_btn:hover {
  background-color: bisque;
  color: black;
}
.img_meals {
  width: 15vw;
  height: 20vh;
  border-radius: 10px;
}
.meals_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-family: "Exo 2", sans-serif;
  font-family: "Shadows Into Light", cursive;

  gap: 10px;
}
.meal_style {
  border: 1px solid white;
  background-color: rgb(182, 171, 233);
  border-radius: 10px;
  padding: 15px;
}

.meals_btn {
  background-color: rgb(245, 248, 247);
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 15vw;
  height: 5vh;
}
.meals_btn:hover {
  background-color: rgb(221, 247, 253);
}
.meal_instructions {
  font-size: 1.2rem;
}
.ingredients_section_container {
  font-family: "Comfortaa", cursive;
  margin-top: 10vh;
  margin-left: 20vw;
}
.ingredients_measures_container {
  border: 1px solid gainsboro;
  border-radius: 20px;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 20vw 20vw;
  padding: 20px;
  width: 50vw;
}
.img-checkout {
  width: 10vw;
}
.img_meals_ingredients {
  width: 30vw;
  border-radius: 30px;
}
.meal_instructions {
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 15px;
}
.img-cart {
  width: 10vw;
  border-radius: 10px;
}
.meal_header {
  text-align: center;
}
nav {
  margin-left: 25vw;
}
nav ul a {
  text-decoration: none;
}
header {
  padding-top: 50px;
  /* background-image: url("./assets/blueberry.jpg");
background-size: cover; */
}

nav ul li:hover {
  background-color: thistle;
  color: black;
}
nav ul li {
  display: inline;
  padding: 15px;
  margin: 5px;
  border: 1px solid;
  border-radius: 35px;
  background-color: rgb(80, 46, 192);
  color: wheat;
  margin-left: 5vw;
}
.alert-message {
  text-align: center;
  border: 1px solid;
  width: 60vw;
  margin-top: 20vh;
  margin-left: 20vw;
  font-size: 2rem;
  background-color: rgb(81, 62, 176);
  border-radius: 20px;
  color: wheat;
}

.cart-container {
  margin-top: 10vh;
  background-color: rgba(88, 36, 148, 0.5);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.cart-page {
  margin-top: 10vh;
  background-color: rgba(36, 84, 148, 0.5);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.login-message {
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(85, 54, 114);
  width: 30vw;
  text-align: center;
  color: wheat;
}
.total-check {
  border: 3px solid red;
  background-color: thistle;
  font-size: 1.5rem;
}
.return-btn {
  border-radius: 20px;
  height: 5vh;
  background-color: rgb(91, 61, 189);
  color: wheat;
}
.home-btn {
  width: 10vw;
  border-radius: 10px;
  height: 5vh;
  background-color: rgb(91, 61, 189);
  color: wheat;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
}
.cart-btn-ing {
  border-radius: 20px;
  height: 5vh;
  background-color: rgb(91, 61, 189);
  color: wheat;
  margin-top: 1vh;
  margin-left: 10vw;
}
footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 75.5vh;
  /* background-color: rgb(228, 196, 250); */
}

footer .copy {
  margin-right: 10px;
  color: rgb(32, 29, 14);
}

footer p {
  margin-right: 40px;
  color: rgb(14, 13, 10);
}
* {
  font-family: cursive;
}
